.main{
    filter: blur(4px);
    display:flex;
    flex-direction: column;
    
}
.heading{
    display:flex;
   
    width:60vw;
    gap:85px;
    justify-content: center;
    margin:30px auto;

}
.back{
    font-size: 38px;
    color:red;
}
.head-name{
    font-size: 38px;
   
}
.container{
    border-radius: 21px;
    display: flex;
    flex-direction: column;
    border:3px solid red;
    width:20vw;
    height:60vh;
    margin:20px auto;
    row-gap: 14px;
    
}
.plus{
    font-size: 40px;
    color:red;
    padding-top: 57%;
    
    text-align: right;
    margin-right: 10%;
}
.trip{
    font-size: 33px;
    text-align: center;
    margin:5px;
   
    color:red;
}
.comp{
    font-size: 20px;
    text-align: center;
    text-decoration:line-through;
    color: red;
    
}
.pending{
    font-size: 21px;
    margin-left: 10%;
}
hr{
    background-color: gray;
    margin:4px;
    width: 70%;
    align-self: flex-end;
} 


.active{
    background-color: white;
    border: 3px solid red;
    box-shadow: 8px 8px 8px gray;
    border-radius:15px;
    width: 25vw;
    height:30vh;
    display:flex;
    flex-direction: column;
    position:absolute;
    bottom:217px;
    left: 565px;
    row-gap: 32px;
    align-items: center;
}
.add{
    font-size: 30px;
    color:red;
    margin-top: 17px;
}
.input-box input{
    border: 3px solid red;
    box-shadow: 8px 8px 8px gray;
    width:18rem;
    height:2rem;
    border-radius: 6px;
}
.button-icon button{
    font-size: 20px;
    color:white;

}
button{
    background-color: red;
    border-radius: 33px;
    border: 3px solid red;
    width:7rem;
    height:3rem;
}




@media only  screen  and (min-width:320px)and (max-width:480px){
    .header{
        display:flex;
        
        width:95vw;
        gap:27px;
        justify-content: center;
     
    }
    .back{
        font-size: 40px;
        color:red;
    }
    .head-name{
        font-size: 36px;
       
    }
    .plus{
        
        padding-top: 35%;
    
    }
    .container{
        border-radius: 21px;
        display: flex;
        flex-direction: column;
        border:3px solid red;
        width:71vw;
        height:60vh;
        margin:20px auto;
        row-gap: 14px;
      
    }
    .active{
        width:90vw;
        height:26vh;
        left:10px;
        row-gap: 20px;


    }
    .add{
        font-size: 20px;
        
    }
    .input-box input{
        width:10rem;
        height:22px;
        border-radius: 6px;
    }
    .button-icon button{
        font-size: 17px;
        color:white;
    
    }
    button{
        background-color: red;
        border-radius: 33px;
        border: 3px solid red;
        width:5rem;
        height:27px;
    }
    

}